@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@layer base {
  html {
     scroll-behavior: smooth;
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
  }
}
